$pc-width: (1720/1920)*100vw;
$ja-font: fot-cezanne-pron, europa, sans-serif;
$Eu-font: europa, sans-serif;
$font-color: #364f6b;
$back-color: #f5f5f5;
$hover-color: #06f5fe;
$border: 1px solid #364f6b;

.works {

  border-top: 1px solid $font-color;
  border-bottom: 1px solid $font-color;

  &-inner {
    width: $pc-width;
    margin: 0 auto;
  }

  &-head {
    width: (650/1920)*100vw;
    padding: 6rem 0;

    @media (max-width: 779px) {
      width: 100%;
      padding-bottom: 0;
    }
  }



  &-container {
    padding: 0 5rem 8rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

    @media (max-width: 779px) {
      padding: 0;
    }


  }

  &-content {
    font-family: $ja-font;
    margin-bottom: 7rem;
    width: 30%;

    @media (max-width: 779px) {
      display: block;
      margin-bottom: 3rem;
    }

    &-right {
      width: 100%;
      margin-top: 1.2rem;

      @media (max-width: 779px) {
        width: 100%;
      }


      .lb {
        background: $back-color;
        color: $font-color;
        font-size: .8rem;
        font-family: $Eu-font;
        padding: .1rem .4rem;
        margin-right: .4rem;
        border: $border;
        border-radius: 10px;
      }

      .txtm {
        font-weight: bold;
        margin-bottom: 8px;
      }


      .txts {
        margin-bottom: 8px;
      }

      .sitelink {
        text-decoration: underline;
        overflow-wrap: break-word;
      }
    }

  }

  &-img {
    width: 100%;
    
    @media (max-width: 779px) {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.whk {
  &-inner {
    margin-top: 5rem;
  }

  &-container {
    padding-bottom: 0;
  }

  &-box {
    display: flex;
    justify-content: flex-start;
    width: 80%;

    &-l {
      width: 60%;
    }

    &-r {
      width: 40%;
    }

  }

  &-img {
    margin-bottom: 2rem;
    margin-right: 2rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-txt {
    width: 50%;
    margin-left: 3rem;
  }

  &-hv {
    &:hover {
      .lb {
        color: $hover-color;
        border-color: $hover-color;
      }
    }
  }
}

.p-works {
  &-inner {
    width: $pc-width;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .works-content {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .u_left {
    width: 60%;

    @media (max-width: 779px) {
      width: 100%;
    }
  }

  .u_right {
    width: 40%;
    margin-left: 2rem;

    @media (max-width: 779px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.u_left {
  width: 60%;

  @media (max-width: 779px) {
    width: 100%;
  }
}

.u_right {
  width: 40%;
  margin-left: 2rem;

  @media (max-width: 779px) {
    width: 100%;
    margin-left: 0;
  }
}